* {
    --blue: #335576;
    --beige: #FEFAF5;
    --orange: #DB7A4E;
}

.greece_heroSection {
    background: no-repeat center url(../assets/Images/greece.jpg);
    background-size: cover;
    width: 100%;
    height: 50rem;
}
