* {
    --blue: #335576;
    --beige: #FEFAF5;
    --orange: #DB7A4E;
}

.greece__hero-section {
    background: no-repeat center url(../assets/Images/greece.jpg);
    padding: 5rem 5rem 5rem 5rem;
}

.hawaii_hero-section {
    background-image: no-repeat center url(../assets/Images/hawaii.jpg);
    background-repeat: no-repeat;
}

.iceland__hero-section {
    background: no-repeat center url(../assets/Images/iceland.jpg);
}

.hero-section__header {
    color: white;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.itinerary-card__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__friday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__saturday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__sunday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__friday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main__saturday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main__sunday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    width: 100%;
    height: 0.15rem;
    background-color: black;
    border: 0px;
}