* {
    --blue: #335576;
    --beige: #FEFAF5;
    --orange: #DB7A4E;
}

.hawaii-featured {
    border-bottom: 3px solid var(--orange);
}

.iceland-featured {
    border-bottom: 3px solid var(--orange);
}

.greece-featured {
    border-bottom: 3px solid var(--orange);
}

.greece__hero-section {
    background: no-repeat center url(../assets/Images/greece.jpg);
    padding: 5rem 5rem 7rem 5rem;
}

.hawaii__hero-section {
    background: no-repeat center url(../assets/Images/hawaii.jpg);
    padding: 5rem 5rem 7rem 5rem;
}

.iceland__hero-section {
    background: no-repeat center url(../assets/Images/iceland.jpg);
    padding: 5rem 5rem 7rem 5rem;
}

.hero-section__header {
    color: white;
    font-size: 5rem;
    padding-bottom: 3rem;
}

.itinerary-card__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__friday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__saturday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__sunday-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
}

.main__friday-card:hover {
    transition: all 0.5s ease-out;
    opacity: 90%;
    border: 1px solid var(--blue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__saturday-card:hover {
    transition: all 0.5s ease-out;
    opacity: 90%;
    border: 1px solid var(--blue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__sunday-card:hover {
    transition: all 0.5s ease-out;
    opacity: 90%;
    border: 1px solid var(--blue);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main__friday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main__saturday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main__sunday-card li {
    font-size: 0.8rem;
    list-style-type: none;
    background-color: #FEFAF5;
    padding: 0.8rem 3rem 0.8rem 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

hr {
    width: 100%;
    height: 0.15rem;
    background-color: black;
    border: 0px;
}