* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 4rem;
    background-color: #FFFFFF;
}

.nav__header h3 {
    color: #335576;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style-type: none;
    padding-right: 1rem;
}

.nav__list ul {
    display: flex;
}

.footer__container {
    display: flex;
    justify-content: center;
    background-color: #FEFAF5;
    padding: 2rem 0 2rem 0;
}

.hours__container {
    display: flex;
    flex-direction: column;
}

.social__container {
    display: flex;
    flex-direction: column;
}

.footer__icon {
    width: 1.5rem;
    height: 1.5rem;
}

.hours__container--columns {
    display: flex;
}