* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue: #335576;
    --beige: #FEFAF5;
    --orange: #DB7A4E;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem 1rem 4rem;
    background-color: #FFFFFF;
}

header {
    position: sticky;
    width: 100%;
}

.nav__header-list li:hover {
    border-bottom: 3px solid var(--orange);
    transition: transform .5s ease-in-out;
}

.nav__header h3 {
    color: var(--blue);
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style-type: none;
    margin-right: 1rem;
}

.card__container {
    width: 13rem;
    height: 20rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
}

.nav__header-list ul {
    display: flex;
}

.footer__container {
    display: flex;
    justify-content: center;
    background-color: var(--beige);
    padding: 2rem 0 2rem 0;
}

.footer__container h3 {
    margin-bottom: 2rem;
    color: var(--blue);
}

.contact__container {
    margin-right: 5rem;
}

.hours__container {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

.weekday__hours, .saturday__hours {
    margin-right: 1.5rem;
}

.social__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__paragraph--orange {
    font-size: 0.7rem;
    color: var(--orange);
    padding-bottom: 0.5rem;
}

.footer__paragraph-info {
    color: var(--blue);
    font-size: 0.7rem;
}

.footer__icon {
    height: 1.5rem;
    margin-right: 1rem;
}

.social-icon__anchor {
    text-decoration: none;
}

.footer__icon:hover {
    transform: scale(1.5);
    transition: transform .3s ease-in-out;
}

.hours__container-columns {
    display: flex;
}