* {
    --blue: #335576;
    --beige: #FEFAF5;
    --orange: #DB7A4E;
}

.nav__header-list li:first-child {
    border-bottom: 3px solid var(--orange);
}

.hero__section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--beige);
    padding: 5rem 5rem 5rem 5rem;
}

.hero__header {
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
}

.hero__text--left {
    width: 40%;
    color: var(--blue);
}

.hero__paragraph {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-bottom: 1.5rem;
}

.hero__img {
    width: 30rem;
    height: 25rem;
}

.getStarted__btn {
    background-color: var(--orange);
    color: white;
    padding: 0.75rem 2.75rem;
    border-radius: 30px;
    border: 0px;
}

.getStarted__btn:hover {
    background-color: #8a4423;
    cursor: pointer;
    transition: all 1s ease-out;
}

.card__section {
    padding: 5rem;
}

.hawaii__card {
    background: no-repeat center url(../assets/Images/hawaii.jpg);
    background-size: cover;
    position: relative;
}

.iceland__card {
    background: no-repeat center url(../assets/Images/iceland.jpg);
    background-size: cover;
    position: relative;
}

.greece__card {
    background: no-repeat center url(../assets/Images/greece.jpg);
    background-size: cover;
    position: relative;
}

.card-section__container {
    display: flex;
    justify-content: center;
}

.card__section-heading {
    color: var(--blue);
    padding-bottom: 2rem;
}

.card__heading--bottom-right {
    position: absolute;
    color: white;
    right: 1rem;
    top: 18rem;
}